<!DOCTYPE html>
    <head>
        <title>weatherApp</title>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500" rel="stylesheet">
        <script src="/js/clock.js"></script>
    </head>
    <body onload="startTime()">
        <div id="container">        
            <div class="row">
            <!-- icon -->
                <div class="column iconColumn">
                    <div class="currentWeatherIcon">
                        <div class="currentWeatherTitle">CURRENT WEATHER</div>
                        <div class="currentImg">    
                            <img class="img" src='<%=weather.currentIcon%>' />
                        </div>

                    <div class="row">

                        <div class="column">
                            <div class="currentTemp"><%=weather.currentTemp%>&deg;F</div>
                            <div class="currentSummary"><%=weather.summary%></div>
                        </div>
                        <div class="column feelAndHumidity">
                            <div class="feelsLike">Feels like <%=weather.currentFeelLike%>&deg; F</div>
                            <div class="humidity">Humidity <%=weather.currentHumidity%>%</div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- descriptions -->
            <div class="column description">
                
                <div class="timeDateUpdate">
                    <button class="refresh-btn" onClick="window.location.reload()">Update</button>
                    <div class="clockContainer">
                        <div id="clock">0:00 am </div>
                    </div>
                    <div class="date"> <%=weather.date%> </div>
                    <p class="daySummary"><%=weather.dailySummary%></p>
                </div>
            </div>
        </div>

    <!-- table -->
        <table>
            <th>TODAY</th>
            <th><%=weather.dayTwo%></th>
            <th><%=weather.dayThree%></th>
            <th><%=weather.dayFour%></th>
            <th><%=weather.dayFive%></th>
            <tr>
                <td>
                    <img class="forcastedIcon" src='<%=weather.todayIcon%>' />
                    <p class="hi-lo-text">high &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; low</p>
                    <div class="hi-lo"><%=weather.todayHi%>&deg;&nbsp;|&nbsp;<%=weather.todayLo%>&deg;</div>
                </td>
                <td>
                    <img class="forcastedIcon" src='<%=weather.dayTwoIcon%>' />
                    <p class="hi-lo-text">high &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; low</p>
                    <div class="hi-lo"><%=weather.dayTwoHi%>&deg;&nbsp;|&nbsp;<%=weather.dayThreeLo%>&deg;</div>
                </td>
                <td>
                    <img class="forcastedIcon" src='<%=weather.dayThreeIcon%>' />
                    <p class="hi-lo-text">high &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; low</p>
                    <div class="hi-lo"><%=weather.dayThreeHi%>&deg;&nbsp;|&nbsp;<%=weather.dayThreeLo%>&deg;</div>
                </td>
                <td>
                    <img class="forcastedIcon" src='<%=weather.dayFourIcon%>' />
                    <p class="hi-lo-text">high &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; low</p>
                    <div class="hi-lo"><%=weather.dayFourHi%>&deg;&nbsp;|&nbsp;<%=weather.dayFourLo%>&deg;</div>
                </td>
                <td>
                    <img class="forcastedIcon" src='<%=weather.dayFiveIcon%>' />
                    <p class="hi-lo-text">high &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; low</p>
                    <div class="hi-lo"><%=weather.dayFiveHi%>&deg;&nbsp;|&nbsp;<%=weather.dayFiveLo%>&deg;</div>
                </td>
        
            </tr>
        </table>
        </div>
    </body>
</html>