<!DOCTYPE html>
    <head>
        <title>weatherApp</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/clock.js"></script>
    </head>
    <body onload="startTime()">
    <div id="container">        
        <div class="row">
        <!-- icon -->
            <div class="column iconColumn">        
                <img class="currentWeatherIcon" src='<%=weather.currentIcon%>' />
            </div>

        <!-- descriptions -->
            <div class="column description">
                <div>
                <div class="timeDateUpdate">
                    <span id="clock">0:00 am </span>
                    <span>
                        <button class="refresh-btn" onClick="window.location.reload()">Update</button>
                    </span>
                </div>
                
                <span class="mainSummary"> <%=weather.date%> </span>
                </div>
                <h5 class="mainSummary"><%=weather.currentTemp%>&deg;F  |  <%=weather.summary%></h5> 
                <h5 class="mainSummary">Feels like <%=weather.currentFeelLike%>&deg; F | humidity <%=weather.currentHumidity%>%</h5>
            </div>
        </div>

        <h5 class="daySummary"><%=weather.dailySummary%></h5>
    <!-- table -->
            <table>
            <th>TODAY</th>
            <th><%=weather.dayTwo%></th>
            <th><%=weather.dayThree%></th>
            <th><%=weather.dayFour%></th>
            <th><%=weather.dayFive%></th>
            <tr>
              <td>
                <img src='<%=weather.todayIcon%>' />
                  <div class="hi-lo"><%=weather.todayHi%>&deg;&nbsp;|&nbsp;<%=weather.todayLo%>&deg;</div>
              </td>
              <td>
              <img src='<%=weather.dayTwoIcon%>' />
                  <div class="hi-lo"><%=weather.dayTwoHi%>&deg;&nbsp;|&nbsp;<%=weather.dayThreeLo%>&deg;</div>
              </td>
              <td>
              <img src='<%=weather.dayThreeIcon%>' />
                  <div class="hi-lo"><%=weather.dayThreeHi%>&deg;&nbsp;|&nbsp;<%=weather.dayThreeLo%>&deg;</div>
              </td>
              <td>
              <img src='<%=weather.dayFourIcon%>' />
                  <div class="hi-lo"><%=weather.dayFourHi%>&deg;&nbsp;|&nbsp;<%=weather.dayFourLo%>&deg;</div>
              </td>
              <td>
              <img src='<%=weather.dayFiveIcon%>' />
                  <div class="hi-lo"><%=weather.dayFiveHi%>&deg;&nbsp;|&nbsp;<%=weather.dayFiveLo%>&deg;</div>
              </td>
        
            </tr>
          </table>
</div>
    </body>
</html>